* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
}

span {
    text-transform: uppercase;
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    color: white;
}

@keyframes primer {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(300px);
        margin-left: -80px;
    }
}

.primer {
    animation-name: primer;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes segundo {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.segundo {
    animation-name: segundo;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}